*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    background: #F2D7D9;
}

h1 {
    text-align: center;
    padding: 10px;
}

.container {
    width: 640px;
    height: 640px;
    padding: 0px;
    margin: 20px auto;
    background: #fff;
    border: 25px solid #000;
    display: grid;
    grid-template-columns: repeat(8, minmax(10px, 1fr));
}

.celda {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.columna-impar .celda:nth-child(2n+1){
    background: #999;
}

.columna-par .celda:nth-child(2n){
    background: #999;
}

/* Fichas negras */
.columna-par:nth-child(1) .celda:nth-child(1):before,
.columna-impar:nth-child(8) .celda:nth-child(1):before {
    content: "\265C";
    z-index: 100;
}

.columna-impar:nth-child(2) .celda:nth-child(1):before,
.columna-par:nth-child(7) .celda:nth-child(1):before {
    content: "\265E";
    z-index: 100;
}

.columna-par:nth-child(3) .celda:nth-child(1):before,
.columna-impar:nth-child(6) .celda:nth-child(1):before {
    content: "\265D";
    z-index: 100;
}

.columna-impar:nth-child(4) .celda:nth-child(1):before {
    content: "\265B";
    z-index: 100;
}

.columna-par:nth-child(5) .celda:nth-child(1):before {
    content: "\265A";
    z-index: 100;
}

.celda:nth-child(2):before {
    content: "\265F";
    z-index: 100;
}

/* Fichas blancas */
.columna-par:nth-child(1) .celda:nth-child(8):before,
.columna-impar:nth-child(8) .celda:nth-child(8):before {
    content: "\2656";
    z-index: 100;
}

.columna-impar:nth-child(2) .celda:nth-child(8):before,
.columna-par:nth-child(7) .celda:nth-child(8):before {
    content: "\2658";
    z-index: 100;
}

.columna-par:nth-child(3) .celda:nth-child(8):before,
.columna-impar:nth-child(6) .celda:nth-child(8):before {
    content: "\2657";
    z-index: 100;
}

.columna-impar:nth-child(4) .celda:nth-child(8):before {
    content: "\2655";
    z-index: 100;
}

.columna-par:nth-child(5) .celda:nth-child(8):before {
    content: "\2654";
    z-index: 100;
}

.celda:nth-child(7):before {
    content: "\2659";
    z-index: 100;
}

footer {
    text-align: center;
}